<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel= "stylesheet" href= "{{ url_for('static',filename='/style/style.css') }}">
      <script type= "text/javascript" src = "{{ url_for('static', filename='/js/javascript.js') }}" defer></script> 
   </head>
   
   <body>
      <div class="headings"> <h2> Language Flash Card </h2> </div> 
      <div class="main"> 
         <div id="value"></div>
         </div>
         <a class="prev" onclick="Prev()">❮</a>
         <a class="next" onclick="Next()">❯</a>
      </div>
   </body>
</html> 


